venv
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
env/
.env
cache_matematico.json
.git
/.git
node_modules
dist
build
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git
.mypy_cache
.pytest_cache
.history
.DS_Store
README_DOCKER.md
*.sqlite3
*.db
Dockerfile
docker-compose.yml
.gitignore